<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>William</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
        />
        <linkm
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button 
                    class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/my-site/views/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/my-site/views/hobbies.html">Hobbies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/my-site/views/projects.html">Projects</a>
                        </li>
                    </ul>
                </div>

                 <div class="d-flex ms-auto align-items-center">
                    <a href="#" class="nav-link fs-4" aria-disabled="true">
                        <img src="/my-site/resources/img/sentiment_frustrated_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" 
                        width="40" 
                        height="30"/>
                    </a>
                </div>

            </div>
        </nav>

        <h1 style="text-align: center;">William Castro Estevam Brito</h1>
        <div class="d-flex justify-content-center align-items-center gap-2">
            <span>wibr1715@colorado.edu</span>
            <span>|</span>
            <span>+1 (201) 912-0506</span>
            <span>|</span>

            <a href="https://www.linkedin.com/in/william-brito-b580a2365/" aria-label="LinkedIn">
                <img
                src="/my-site/resources/img/linkedin-svgrepo-com.svg"
                width="30"
                height="30"
                alt="LinkedIn"
                />
            </a>

            <span>|</span>

            <a href="https://github.com/WillisBurr" aria-label="GitHub">
                <img
                src="/my-site/resources/img/GitHub_Invertocat_Black.svg"
                width="30"
                height="30"
                alt="GitHub"
                />
            </a>
        </div>

        
        <div style="margin-top: 50px; margin-right: 600px; margin-left: 400px;">
            <h5>Summary</h5>
            Certified Linux IT Associate & Computer Science student at the University of Colorado at Boulder’s College of Engineering and Applied Science, seeking pro-bono internship or project-based opportunities for Spring 2026 to gain more programming and sysadmin experience.
        </div>

        <div style="margin-top: 10px; margin-right: 100px; margin-left: 400px;">
            <h5>Skills</h5>
            <div style="margin-top: 5px">Python, C++, Java, Linux, Websockets, DevOps</div>
            <div style="margin-top: 5px">Fluent Portuguese; Basic Spanish & German skills</div>
        </div>

        <div style="margin-top: 10px; margin-right: 600px; margin-left: 400px;">
            <h5>Education</h5>
            <div style="margin-top: 5px">BS in Computer Science, College of Engineering and Applied Sciences, University of Colorado-Boulder, CU, Expected Graduation May 2029</div>
            <div style="margin-top: 5px">Linux Foundation Certified IT Associate, 2025</div>
            <div style="margin-top: 5px">Liberal Arts and Science Academy (Austin, TX) 2025 Graduate with Magnet Program Endorsement</div>
        </div>

        <div style="margin-top: 10px; margin-right: 600px; margin-left: 400px;">
            <h5>Internships and Professional Experience</h5>
            <div style="margin-top: 5px">Mirakulo, June 2024–July 2024, Websocket programming</div>
            <div style="margin-top: 5px">
                <ul>
                    <li>Fulltime apprentice to CTO</li>
                    <li>Learned shell arguments, different network protocols, and how to write unit tests on VSCode</li>
                    <li>Python script to read various logs formats from external embedded Linux devices (smart TVs) to consolidate into a central database</li>
                </ul>
            </div>
        </div>

        <div style="margin-top: 10px; margin-right: 600px; margin-left: 400px;">
            <h5>Volunteering, Leadership & Analytics</h5>

            <div style="margin-top: 5px">Member, CU Boulder Game Design Club, October 2025 - May 2026</div>
            <div style="margin-top: 5px">
                <ul>
                    <li>Used Godot (python-based engine) in small projects</li>
                    <li>Participated in monthly game jams</li>
                </ul>
            </div>

            <div style="margin-top: 5px">Event Volunteer, Kubernetes Community Day, Rio De Janeiro, Brazil March 2025</div>
            <div style="margin-top: 5px">
                <ul>
                    <li>Assisted in tech and exhibit setup for presentations on how to effectively use Kubernetes</li>
                    <li>Used experience in StormForge to inform consumers about product</li>
                    <li>Served as a technical translator to Portuguese-speaker to attendees</li>
                </ul>
            </div>

            <div style="margin-top: 5px">CyberPatriot Linux Specialist, September 2024-May 2025</div>
            <div style="margin-top: 5px">
                <ul>
                    <li>Extracurricular organization to learn basic cybersecurity and Operating Systems management</li>
                    <li>Used Linux shell commands to strengthen system security and remove unsafe users and programs</li>
                </ul>
            </div>
        </div>

        <div style="margin-top: 10px; margin-right: 600px; margin-left: 400px;">
            Interests: IT, System Administration, DevOps, Software Engineering
        </div>

        <a href="/my-site/resources/img/William Castro Estevam Brito Resume.pdf" target="_blank" download="William Castro Estevam Brito.pdf">
            <button>Download PDF</button>
        </a>

        <div class="card text-center fixed-bottom"> 
            <div class="card-header">
                Featured:
            </div>
            <div class="card-body">
                <p class="card-text">
                    Connect with me on LinkedIn or check out my GitHub.
                </p>
                <a href="https://www.linkedin.com/in/william-brito-b580a2365/">
                    <img src="/my-site/resources/img/linkedin-svgrepo-com.svg" length="40" width="30" alt="My LinkedIn Profile">
                </a>
                <a href="https://github.com/WillisBurr">
                    <img src="/my-site/resources/img/GitHub_Invertocat_Black.svg" length="40" width="30" alt="My GitHub Profile">
                </a>
            </div>
        </div>
    </body>
</html>